/* CSS Reset */
body,
header,
nav,
footer {
    margin: 0;
    padding: 0;
    border: 0;
}

article a {
    display: grid;
}
html {
    font-family: consolas, "Courier New", monospace;
}

a {
    text-decoration: none;
}

main {
    margin: 0 8px;
}
h2{
    font-size: 2em;
}
h3 {
    font-size: 1.5em;
}


header {
    background-color: lightslategray;
    height: auto;
    h1 {
        margin: 0;
    font-size: 6em;
    }
}


.columns {
    display: flex;
    gap: 2em;
}

