@charset "utf-8";
/* CSS Reset */
body,
header,
nav,
footer, p,
div, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
ion-icon{
    padding-right: 5px;
}

.exp on click{
    margin-top: 3px;
 }

body {
    background-color: #f0f0f0;
    font-family: consolas, "Courier New", monospace;
}

a {
    font-weight: light;
    text-decoration: none;
}


/* Text Formatting. */
.cards {
    margin-bottom: 2rem;
    margin-right: 1em;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}
h5 {
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.sub {
    font-weight: lighter;
    font-size: 0.7em;
}
article h6::after {
    content: "↴";
}

header {
    background-color: #F1F7ED;
    height: auto;

    h1 {
        font-size: 6em;
        color: #243E36;
    }
}
/*Grid Styles*/
main {
    /* outline: 2px solid red; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    margin: auto;
}
section {
    /* outline: 2px dotted royalblue; */
    align-content: start;
}
.columns {
    /* outline: 2px dashed greenyellow; */
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

article span {
    display: grid;
    grid-template-columns: auto-fit;
}
#maint {
    grid-row: 2/4;
}
/* Card Type Styles*/
.boards {
    background-color: #0077b6;
    color: #F1F7ED;
    a{
        color: #F1F7ED;
    }
}
.repos {
    background-color: #f77f00;
}
.docs {
    background-color: #6B8E23;
    color: #F1F7ED;
    a{
        color: #F1F7ED;
    }
}
.pipelines {
    background-color: #243E36;
    color: #F1F7ED;
    a{
        color: #F1F7ED;
    }
}
.swagger{
    background-color: #7CA982;
    a {
        color: #243E36;
    }
}
.azure {
    background-color: #E0EEC6;
    a{
        color: #243E36;
    }
}
.card_title {
    margin-bottom: 10px;
}
.card {
    padding: 1rem;
    border-radius: 8px;
}
code {
    font-family: Consolas,"courier new";
    color: crimson;
    background-color: #f1f1f1;
    padding: 2px;
    font-size: 105%;
  }
  .code {
    background-color: darkgrey;
  }